a{
  text-decoration: none;
}

.register-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5%;
}

.register-card{
  padding: 50px;
  width: 400px;
  height:450px;
}

.register-card form{
  display: flex;
  flex-direction: column;
}

.login-link{
  margin: 20px 0 0 0;
}
