<mat-toolbar>
  <div class="spacer"></div>
  <a mat-button routerLink="/"><mat-icon>fingerprint</mat-icon></a>
  <div class="spacer"></div>
  <a class="mat-headline-1" mat-button routerLink="audio-effect-ex">Audio Effects</a>
  <a mat-button routerLink="character-ex">Characters</a>
  <a mat-button routerLink="campaign-ex">Campaign</a>
  <a mat-button routerLink="sign-in" class="sign-in-button">Sign In</a>
  <button mat-raised-button color="primary" routerLink="register">Register</button>
  <div class="spacer"></div>
</mat-toolbar>

