<mat-toolbar color="basic">
  <div class="spacer"></div>
  <mat-icon class="mat-18">fingerprint</mat-icon>
  <a mat-button routerLink="audio-effect-ex">Audio Effects</a>
  <a mat-button routerLink="character-ex">Characters</a>
  <a mat-button routerLink="campaign-ex">Campaign</a>
  <div class="spacer"></div>
  <a mat-button routerLink="sign-in" class="sign-in-button">Sign In</a>
  <button mat-raised-button color="accent" routerLink="register">Register</button>
  <div class="spacer"></div>
</mat-toolbar>

